* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background: white;
}

.container {
    background: #fff;
    padding: 30px;
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

label {
    display: block;
    font-weight: 500;
    color: #666;
    margin-bottom: 8px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    background: #f0f4f8;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: 0 0 5px rgb(4, 4, 161);
    background: #e9f2ff;
    outline: none;
}

button {
    background-color: rgb(4, 4, 161);
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

td {
    background-color: #f9f9f9;
}


/* Revaluation link styling */

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #2980b9;
}